
/*
	# Les éléments sont placés l'un à côté de l'autre 
	# Prend toute largeur du conteneur
*/
.nav-inner {
	border: 1px solid;
	display: table;
	width: 100%;
	padding: 20px 25px; /* on ventile un peu */
	background-color: #FFF;
    position: absolute;
    top: 0;
}

/* 
	# Alignement du menu 
	# Prend toute la largeur de nav-inner
*/
nav {
	text-align: center;
}

/*
	# Faire passer le menu en inline (inline-block, inline-table ou inline-flex) pour le rendre sensible à l'alignement à droite. Ses items aussi sont en inline.
*/
	nav ul,
	nav li {
		display: inline;
		list-style: none;
	}

		nav a {
			position: relative;
			display: inline-block;
			padding: 8px 15px;
			vertical-align: middle;
			font-weight: 300; /* entre regular et light */
			letter-spacing: 0.025em;
			color: inherit;
			text-decoration: none;
		}

		/* 	Animation du lien 
			a:after --> :after permet d'insérer quelque chose après la <a>
		*/
		nav a:after {
			content: "";
			position: absolute;
			bottom: 0; right: 20px; left: 20px;
			height: 2px;
			background-color: #B13C2E;

			/* Préparation de notre animation */
			opacity: 0;
			transform: translateY(5px);
			transition: all .4s;
		}

		/* Le trait va remonter et apparaitre */
		nav a:hover:after,
		nav a:focus:after {
			opacity: .6;
			transform: translateY(0);
		}

		/* Je vire outline car juste au-dessus je définis un style :focus */
		nav a:focus {
			outline: none;
		}